<!-- Start of Social Media Links -->
	
	<div id="social-share" class="social-share">
		<span id="youtube-page"></span>	
		<span id="instagram-page"></span>
		<span id="twitter-page"></span>
		<span id="googleplus-page"></span>					
		<span id="facebook-page"></span>
		<a href="{{@blog.url}}/rss/" class="rss-subscribe" target="_blank"><i class="fa fa-rss"></i></a>
	</div>
	
<!-- End of Social Media Links -->